<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ffindergc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_map_8"
        android:label="FFinder"
        android:roundIcon="@drawable/icon_map_8"
        android:supportsRtl="true"
        android:theme="@style/Theme.FFinderGC">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNjUGhsj0No8dF2LgPEDlbURPbChR8zdo"
            />

        <activity
            android:name=".ThereProfileActivity"
            android:exported="true" />
        <activity
            android:name=".FaQActivity"
            android:exported="true" />
        <activity
            android:name=".AddPostActivity"
            android:exported="true" />
        <activity
            android:name=".ChatActivity"
            android:exported="true"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>